body{
    font-family: Roboto, Helvetica, Open Sans, Verdana, Lato, Work Sans, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif,;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo .color{
    color: #2e2f42;
}
.page-nav .link1{
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-nav .link{
    color: #2e2f42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.page-nav .link:hover, .page-nav .link:focus{
    color: #404bbf;
}
.page-nav .link1:hover, .page-nav .link1:focus{
    color: #404bbf;
}
.page-nav .link1:active{
    color:#404bbf;
}

.address .link{
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

}

.address .link:hover, .address .link:focus{
    color: #404bbf;

}
.section{
    background-color: #2E2F42;
}
.section .title{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em

}
.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button:hover, .button:focus{
    color: #404bbf;
}

.section3{
    background-color: #F4F4FD;
}
footer{
    background-color: #2E2F42;
}
.footer-logo{
    color: #ffffff;
}